jwt:
  secret: "THIS_IS_A_VERY_LONG_SECRET_KEY_AT_LEAST_32_BYTES"
  access-token-expiration: 900000
  refresh-token-expiration: 604800000

# Google OAuth2 Configuration
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:your-client-id}
            client-secret: ${GOOGLE_CLIENT_SECRET:your-client-secret}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/auth/google/callback"
            authorization-grant-type: authorization_code
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub



